@model IEnumerable<Muppets.Models.MuppetList>

@{
    ViewBag.Title = "Index";
}

<div class="heads">
    <h2>Muppets!</h2>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MuppetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuppetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuppetBirthdate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MuppetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuppetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuppetBirthdate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MuppetId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MuppetId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MuppetId })
            </td>
        </tr>
    }

</table>

<p>
    <a class="btn btn-default" @Html.ActionLink("Create a Muppet", "Create")></a>
</p>
