@model IEnumerable<Muppets.Models.MuppetList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MuppetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuppetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuppetBirthdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MuppetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MuppetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MuppetBirthdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MuppetId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MuppetId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MuppetId })
        </td>
    </tr>
}

</table>
