@model Muppets.Models.MovieDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="space">

    <div>
        <h4>MovieDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MovieId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MovieId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MovieName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MovieName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateReleased)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateReleased)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MovieImage)
            </dt>

            <dd>
                <img src="@Html.DisplayFor(model=> model.MovieImage)" alt="alternative text" />
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
